@font-face {
    font-family: 'AmericanTypewriter';
    src: url('./fonts/AmericanTypewriter.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmericanTypewriter-Bold';
    src: url('AmericanTypewriter-Bold.woff2') format('woff2'),
        url('AmericanTypewriter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 100%;
    background-color: #F5F3EF ;
}

h1 {
    font-family: "AmericanTypewriter";
    color: #D61823;
    text-align: center;
    font-size: 3.5rem;
}

.characters {
    justify-content: center;
}

img {
    width: 10%;
}

