@font-face {
    font-family: 'AmericanTypewriter';
    src: url('./fonts/AmericanTypewriter.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmericanTypewriter-Bold';
    src: url('AmericanTypewriter-Bold.woff2') format('woff2'),
        url('AmericanTypewriter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'AmericanTypewriter' 'AmericanTypewriter-Bold' , -apple-system, BlinkMacSystemFont,'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
}

